// Navbar
style.
	.navbar-nav{flex-direction: row;}
	/*ul.navbar-nav li{margin:0px !important;}*/
nav.navbar.navbar-expand-lg.navbar-absolute.fixed-top.navbar-transparent.py-2(style='background-color:beige !important;')
	.container.px-3
		.navbar-wrapper
			.navbar-toggle.d-block
				button.navbar-toggler.d-block(type="button", data-toggle='sidebar')
					span.navbar-toggler-bar.bar1
					span.navbar-toggler-bar.bar2
					span.navbar-toggler-bar.bar3
			.d-flex.justify-content-between#main_logo
				a.navbar-brand.py-0(href="/")
					img(src='/images/logo.png')
					| 라달배
		form.w-100.d-none.d-md-block
			.input-group.no-border
				input.form-control(type="text" value="" placeholder="검색어를 입력하세요")
		#navigation
			ul.navbar-nav
				li#headingSearch.nav-item.text-center
					a.nav-link.btn-magnify.pb-0(href="#collapseSearch", role='button', data-toggle='collapse', aria-expanded='false', aria-controls='collapseSearch')
						i.nc-icon.nc-zoom-split
					p.d-none.d-sm-block 검색
				if(user)
					li.nav_item
						a.nav-link.btn-magnify.pb-0(data-toggle='modal', data-target='#modalProfile')
							i.nc-icon.nc-single-02
						p.d-none.d-sm-block 내정보
				else
					li.nav-item.text-center
						a.nav-link.btn-rotate.pb-0(data-toggle='modal', data-target='#modalLogin')
							i.nc-icon.nc-single-02
						p.d-none.d-sm-block 로그인
				li.nav-item.btn-rotate.text-center
					a.nav-link.bnt-magnify.pb-0
						i.nc-icon.nc-bell-55
					p.d-none.d-sm-block 알림
		form.collapse#collapseSearch
			.input-group.no-border
				input.form-control(type="text" value="" placeholder="검색어를 입력하세요")

// login 모달
#modalLogin.modal.fade(tabindex="-1" role="dialog" aria-labelledby="modalLoginLabel" aria-hidden="true")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				h5#modalLoginLabel.modal-title 로그인
				button.close(type="button" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") ×
			.modal-body
				form.register-form(onsubmit='fnLogin(); return false;')
					label ID
					input.form-control(type="text", placeholder="ID", name='user_id')
					label Password
					input.form-control(type="password", placeholder="Password", name='user_pw')
					button.btn.btn-danger.btn-block.btn-round(type='submit') 확인
				.forgot
					a.btn.btn-success.btn-block.btn-round(href='/users/register') 회원가입
			.modal-footer
				button.btn.btn-danger(type="button" data-dismiss="modal") Close

// User Profile 모달
#modalProfile.modal.fade(tabindex="-1" role="dialog" aria-labelledby="modalProfileLabel" aria-hidden="true")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				h5#modalProfileLabel.modal-title 내 정보
				button.close(type="button" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") ×
			.modal-body
				h5.card-title 내 정보 수정
				form
					.row
						.col-md-6
							.form-group
								label 이름
								input.form-control(type="text", name='user_name', placeholder="이름", value="")
						.col-md-6
							.form-group
								label Email
								input.form-control(type="email", name='user_email', placeholder="Email", value="")
					.row
						.update.ml-auto.mr-auto
							button.btn.btn-primary.btn-round(type="submit") Update Profile
			.modal-footer
				a.btn.btn-warning(href='/users/logout') Log out
				button.btn.btn-danger(type="button" data-dismiss="modal") Close

