/* font 설정 */
.logo-normal, .navbar-brand {
    font-family: 'Cute Font', cursive;
    font-size: 2.5em !important;
    font-weight: 400;
}
p{margin-bottom:0;}
textarea::placeholder{color:lightgray; font-size:12px;}
.board_row div:first-child{
    height: 21px;
    line-height: 21px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.board_row span{font-size: .85rem;}
.board_row .last-col{font-size:.80rem;}
.card-title {
    font-family: 'Jua'
}
ul#radalbae_nav li a{
    padding-left:0px;
}
ul#radalbae_nav li p {
    /*padding-left: 20px;*/
    font-size: 1.3em;
}
.sidebar{width:210px;}
.sidebar[data-color="white"] .nav li a{color:#333;}
.sidebar .sidebar-wrapper{width:210px;}
.sidebar .logo img{width:40px}
.sidebar .logo a{font-size:16px;}
.sidebar .profile-img, .reply-profile-img{
    width: 40px;
    height: 40px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #ddd;
    vertical-align: middle;
}
.reply-profile-img{width:35px; height:35px; min-width:35px;}
.reply-content span{white-space: normal;}
.reply-wrap{background-color:white;
    -webkit-transition: background-color 2s;
    -moz-transition: background-color 2s;
    -ms-transition: background-color 2s;
    -o-transition: background-color 2s;
    transition: background-color 2s;}

textarea.form-control{line-height: 1}

ul#radalbae_nav li p:before {
    /*content: '';*/
    position: absolute;
    background: url(/images/close_pot.svg) no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    width: 1.4em;
    height: 1.3em;
    left: 0;
}

ul#radalbae_nav li:hover p:before, ul#radalbae_nav li.active p:before {
    /*content: '';*/
    position: absolute;
    background: url(/images/open_pot_new.svg) no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    width: 1.4em;
    height: 1.3em;
    left: 0;
}

.note-editor.note-frame .note-statusbar {
    background-color: transparent !important;
}

.note-toolbar.card-header {
    background: #f5f5f5 !important;
    border-bottom: inherit;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.main-panel > .content {
    margin-top: 89px;
}

.main-img {
    height: 400px;
    background-image: url('/images/main.png');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.navbar-brand {
    min-width: 340px;
}

#main_logo img {
    height: 60px;
    position: relative;
    top: 0px;
}

#main_logo a {
    line-height: 70px;
    letter-spacing: -3px;
}
#main_logo a.navbar-brand:after{
    content: '초보주부들의 소통공간 커뮤니티';
    font-size: 13px;
    font-family: sans-serif;
    padding-left: 10px;
    letter-spacing: 1px;
    position: relative;
    top: 10px;
    color: darkorange;
    font-weight: 800;
}
#navigation li{margin:0 15px;}
#navigation li i{font-size:22px;}
#navigation li p{font-size:.7rem; color:#999;}
.sidebar .logo{padding-left:15px;}
/* pc 화면에서 sidebar 숨기기 */
.sidebar{transform:translate3d(-260px, 0px, 0px);}
.main-panel{width:100%;}

/* navbar font size */
.navbar .navbar-nav .nav-link{font-size:15px;}

/*  리스트에서 나머지 컬럶들 작성자, 작성일, 조회수 */
.last-col div{width:60px;}
.last-col div:nth-child(2), .last-col div:last-child{text-align:left;}
.font-size-8rem{font-size:.8rem;}
#main_nav{margin:0 -30px;}
#main_nav p{font-size:.875rem;}
.last-col div.text-muted:last-child:before{
    background: url('/images/eye.svg') no-repeat;
    background-size: 13px;
    display: inline-block;
    width: 15px;
    height: 11px;
    content:"";
}
.board_card.card .card-title{margin-bottom:0; padding-left:1rem;}
.show-more{line-height: 44px;display: flex;padding-right: 40px;}
.show-more:after{content:url(/images/right-arrow.svg);position: relative;top: 4px;width: 20px;}

.footer ul li a:after, .content-header ul li:after{
    content:'';
    background: url("/images/vertical-bar.svg") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    position: absolute;
    width: 11px;
    height: 11px;
    margin-top: 5px;
    margin-left: 3px;
}
.footer ul li:last-child a:after, .content-header ul li:last-child:after{content:''; background: none;}
#collapseSearch{width:0; visibility: collapse;}
/* login 팝업 창 */
#loginModal{max-width:345px;}
#loginModal .social a{margin:0 .5rem;}
#loginModal .social img{width:40px;}
#loginModal .division{
    float: none;
    margin: 0 auto 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}
#loginModal .division .line{
    border-top: 1px solid #DFDFDF;
    position: absolute;
    top: 10px;
    width: 34%;
}
#loginModal .division .line.l{left:0}
#loginModal .division .line.r{right:0}
#loginModal input{height:50px;}

.content-title{font-size:22px; letter-spacing: -1px; font-weight: 700;}
.content-header ul{list-style: none; padding-left:1rem;}
.content-header ul li{display: inline-block; padding-right: 1rem;}
.content-header ul li:after{
    content:'';
    background: url("/images/vertical-bar_dark.svg") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.content-body{min-height:20vh; font-size:15px;}
#reply-list img{opacity:.5;}
#reply-list > div{border-bottom:1px dotted #999;}
#reply-list .reply-header span{font-size:.8rem; padding-left:.5rem;}
.btn-wrap .btn{padding:.25rem .5rem;}
/* 모바일 화면(pc 이외의 화면)*/
@media screen and (max-width: 991px) {
    #main_nav{display:none !important;}
    .navbar-brand {
        min-width: 1px;
    }

    .main-img {
        height: 150px;
    }

    #main_logo img {
        height: 40px;
        position: relative;
        top: 0px;
    }

    #main_logo a {
        line-height: 50px;
    }
    #navigation li{margin:0 -5px;}
    #main_logo a.navbar-brand:after{content:''}
    .container{padding:0px;}
    .last-col div{text-align: left; font-size:12px;}
    .list-group-flush .list-group-item{
        padding-left: 0;
        padding-right: 0;}
    .last-col div, .last-col div:nth-child(2){width:fit-content; padding-right:10px;}
    #board_card.card .card-title{padding-left:0;}
    .show-more{padding-right:.5rem;}
    .board_card.card .card-title{padding-left: 0;}
    .nav-open .main-panel{
        -webkit-transform: translate3d(210px, 0, 0);
        -moz-transform: translate3d(210px, 0, 0);
        -ms-transform: translate3d(210px, 0, 0);
        -o-transform: translate3d(210px, 0, 0);
        transform: translate3d(210px, 0, 0);
    }
    #collapseSearch{width:100%; visibility: visible;}
}
